# Kconfig - NXP LPC43xx MCU Line
#
# Copyright (c) 2016 Kyle J. Temkin <kyle@ktemkin.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

choice
prompt "LPC43xx MCU Selection"
depends on SOC_SERIES_LPC43XX

config SOC_LPC4330
	bool "SOC_LPC4330"
endchoice


if SOC_SERIES_LPC43XX

config SOC_PART_NUMBER_LPC4330FBD144
	bool

config SOC_PART_NUMBER_LPC43XX
	string
	default "LPC4330FDB144" if SOC_PART_NUMBER_LPC4330FBD144
	help
	This string holds the full part number of the SoC. It is a hidden option
	that you should not set directly. The part number selection choice defines
	the default value for this string.

endif
